<div
  class="container-fluid d-flex justify-content-between align-items-center m-0 py-3 px-5">
  <h1 class="m-0">PCBuilder</h1>
  <div *ngIf="isSignedIn$ | async; else signOut" class="d-flex align-items-center justify-content-center">
    <div class="mx-3 my-account-wrapper">
      <span>
        <i class="pi pi-user" style="font-size: 24px"></i>
        <label class="my-account mx-2"[routerLink]="['/account']">My account</label>
      </span>
    </div>
    <button
      (click)="onSignOut()"
      pButton
      pRipple
      label="Sign Out"
      class="p-button-danger"></button>
  </div>
  <ng-template #signOut>
    <div>
      <span [routerLink]="['/signin']">SignIn</span>
      |
      <span [routerLink]="['/signup']">SignUp</span>
    </div>
  </ng-template>
</div>
<div
  class="container-fluid d-flex justify-content-between align-items-center m-0 px-5">
  <ul class="navbar p-0 m-0">
    <li class="nav-tab m-0 px-3 py-4" [routerLink]="['/builder']">
      <span>Builder</span>
    </li>
    <li class="nav-tab m-0 px-3 py-4" [routerLink]="['/recommended']">
      <span>Recommended builds</span>
    </li>
    <li class="nav-tab m-0 px-3 py-4" [routerLink]="['/community']">
      <span>Community builds</span>
    </li>
  </ul>
</div>
