<div class="img-input-wrapper p-3 m-3">
  <div class="input-selection d-flex align-items-center w-100">
    <input
      #componentImgInput
      type="file"
      (change)="onUploadImage()"
      class="d-none" />
    <button
      pButton
      pRipple
      class="p-button-primary"
      label="Select Image"
      (click)="componentImgInput.click()"></button>
    <div class="drag-drop-wrapper">
      <i class="pi pi-upload p-3 pe-1"></i>
      <span>Drop files here...</span>
    </div>
  </div>
  <ul *ngIf="componentImage" class="m-0 p-0">
    <hr />
    <li>
      <div class="d-flex justify-content-between align-items-center my-2">
        <div class="img-info-wrapper">
          <ng-container *ngIf="componentImage?.loaded; else spinner">
            <i class="pi pi-check"></i>
          </ng-container>
          <ng-template #spinner>
            <i class="pi pi-spin pi-spinner"></i>
          </ng-template>

          {{ componentImage.title }}
          <span class="img-size-label">
            {{ componentImage.size / 1000000 }} MB
          </span>
        </div>
        <i
          *ngIf="componentImage.loaded"
          class="pi pi-trash"
          (click)="onRemoveImage()"></i>
      </div>
      <div class="progress" *ngIf="!componentImage.loaded">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          [ngStyle]="{ width: progress + '%' }"></div>
      </div>
    </li>
  </ul>
</div>
