/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.p-button-primary {
  background: var(--secondary-medium);
  border: 2px solid var(--secondary-dark);
  color: var(--black);
}
.p-button.p-button-primary:enabled:hover {
  background: var(--secondary-dark);
  border: 2px solid var(--secondary-dark);
  color: var(--black);
}
button:focus {
  box-shadow: none !important;
}

:root {
  --primary-light: #4f5057;
  --primary-medium: #2e2e38;
  --primary-dark: #21212b;

  --secondary-light: #ffecaa;
  --secondary-medium: #ffea9c;
  --secondary-dark: #ffdd60;

  --black: #04040c;
  --white: #f1f1f1;

  --success: #7fa366;
  --danger: #bf616a;

  --input-idle: #131313;
  --input-focus: #1a1a1a;
  --input-border: #3b3b3b;
}

.p-tooltip .p-tooltip-text {
  background-color: var(--primary-medium);
  color: var(--secondary-dark);
}
