:host::ng-deep {
  .pc-part-img {
    filter: invert(85%) sepia(99%) saturate(5885%) hue-rotate(312deg)
      brightness(108%) contrast(111%);
    width: 50%;
    transition: all 0.3s;
  }
  span.my-2 {
    color: var(--secondary-dark);
    font-weight: 600;
    font-size: 24px;
    position: relative;
  }
  .pc-part-img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .pc-part-img:hover + span::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-medium);
    transform-origin: bottom right;
    transition: transform 0.2s ease-in-out;
  }
  .row:first-of-type {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.6);
  }
}
