<div class="container-fluid">
    <div class="row">
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img (click)="onSelectPart(0)" class="pc-part-img" src="../../../assets/pc-parts/cpu.png" />
        <span class="text-center my-2">CPU</span>
      </div>
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img (click)="onSelectPart(1)" class="pc-part-img" src="../../../assets/pc-parts/fan.png" />
        <span class="text-center my-2">CPU Cooler</span>
      </div>
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img (click)="onSelectPart(2)" class="pc-part-img" src="../../../assets/pc-parts/motherboard.png" />
        <span class="text-center my-2">Motherboard</span>
      </div>
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img (click)="onSelectPart(3)" class="pc-part-img" src="../../../assets/pc-parts/ram.png" />
        <span class="text-center my-2">Memory</span>
      </div>
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img (click)="onSelectPart(4)" class="pc-part-img" src="../../../assets/pc-parts/ssd.png" />
        <span class="text-center my-2">Storage</span>
      </div>
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img (click)="onSelectPart(5)" class="pc-part-img" src="../../../assets/pc-parts/gpu.png" />
        <span class="text-center my-2">Graphics Card</span>
      </div>
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img
          (click)="onSelectPart(6)" class="pc-part-img"
          src="../../../assets/pc-parts/computer-case.png" />
        <span class="text-center my-2">Case</span>
      </div>
      <div
        class="part-wrapper col-xl-3 col-lg-4 col-6 d-flex flex-column align-items-center p-4">
        <img
          (click)="onSelectPart(7)" class="pc-part-img"
          src="../../../assets/pc-parts/power-supply.png" />
        <span class="text-center my-2">Power Supply</span>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <router-outlet [formGroup]="partsForm!" #formView></router-outlet>
        </div>
    </div>
  </div>
  