<div class="wrapper d-flex justify-content-center align-items-center">
  <form [formGroup]="cpuCoolerForm!" class="p-4 my-5">
    <h1 class="text-center my-4">Create Cpu Cooler</h1>

    <div class="d-flex justify-content-between">
      <app-manufacturer
        class="w-100"
        [controlName]="'manufacturer'"
        [manufacturers]="manufacturers"></app-manufacturer>
      <div class="input-wrapper d-flex flex-column px-3">
        <span class="my-2">Model</span>
        <input formControlName="model" type="text" />
      </div>
    </div>

    <div formGroupName="cpuCooler" class="cpu-form-specific-inputs">
      <div class="d-flex justify-content-between">
        <div class="input-wrapper d-flex flex-column px-3">
          <span class="my-2">Socket</span>
          <select formControlName="socketIds">
            <option value="" disabled selected hidden>Please Choose...</option>
            <option *ngFor="let socket of socket$ | async" [value]="socket.id">
              {{ socket.name }}
            </option>
          </select>
        </div>

        <div class="input-wrapper d-flex flex-column px-3">
          <span class="my-2">Type</span>
          <select formControlName="type">
            <option value="" disabled selected hidden>Please Choose...</option>
            <option value="Liquid">Liquid</option>
            <option value="Air">Air</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Total Power Draw</span>
          <input formControlName="tdp" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Max RPM</span>
          <input formControlName="maxRPM" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Noise Level</span>
          <input formControlName="noiseLevel" type="number" />
        </div>
      </div>
    </div>

    <app-image [formGroup]="cpuCoolerForm!" #imageComponentRef></app-image>

    <div class="action-buttons">
      <button
        pButton
        pRipple
        label="Create Component"
        class="p-button-success mx-3"
        (click)="onCreateComponent()"
        [disabled]="checkFormValidity()"></button>
      <button
        pButton
        pRipple
        label="Reset Form"
        (click)="onResetForm()"
        class="p-button-danger"></button>
    </div>
  </form>
</div>
