<div class="wrapper d-flex justify-content-center align-items-center">
  <form [formGroup]="gpuForm!" class="p-4 my-5">
    <h1 class="text-center my-4">Create GPU</h1>

    <div class="d-flex justify-content-between">
      <app-manufacturer
        class="w-100"
        [controlName]="'manufacturer'"
        [manufacturers]="manufacturers"></app-manufacturer>
      <div class="input-wrapper d-flex flex-column px-3">
        <span class="my-2">Model</span>
        <input formControlName="model" type="text" />
      </div>
    </div>

    <div class="input-wrapper d-flex flex-column px-3">
      <span class="my-2">Model</span>
      <input formControlName="model" type="text" />
    </div>

    <div formGroupName="gpu" class="cpu-form-specific-inputs">
      <div class="d-flex justify-content-between">
        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Base Clock</span>
          <input formControlName="baseClock" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Max Boost Clock</span>
          <input formControlName="maxBoostClock" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Memory Size</span>
          <input formControlName="memorySize" type="number" />
        </div>

        <div class="input-wrapper d-flex flex-column px-3">
          <span class="my-2">Memory Type</span>
          <select formControlName="memoryType">
            <option value="" disabled selected hidden>Please Choose...</option>
            <option value="GDDR6">GDDR6</option>
            <option value="GDDR5">GDDR5</option>
            <option value="DDR4">DDR4</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Memory Bus</span>
          <input formControlName="memoryBus" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Total Power Draw</span>
          <input formControlName="tdp" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Height</span>
          <input formControlName="height" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Width</span>
          <input formControlName="width" type="number" />
        </div>
      </div>
    </div>

    <app-image [formGroup]="gpuForm!" #imageComponentRef></app-image>

    <div class="action-buttons">
      <button
        pButton
        pRipple
        label="Create Component"
        class="p-button-success mx-3"
        (click)="onCreateComponent()"
        [disabled]="checkFormValidity()"></button>
      <button
        pButton
        pRipple
        label="Reset Form"
        (click)="onResetForm()"
        class="p-button-danger"></button>
    </div>
  </form>
</div>
