<div class="wrapper d-flex justify-content-center align-items-center">
  <form [formGroup]="cpuForm!" class="p-4 my-5">
    <h1 class="text-center my-4">Create CPU</h1>

    <div class="d-flex justify-content-between">
      <app-manufacturer
        class="w-100"
        [controlName]="'manufacturer'"
        [manufacturers]="manufacturers"></app-manufacturer>
      <div class="input-wrapper d-flex flex-column px-3">
        <span class="my-2">Model</span>
        <input formControlName="model" type="text" />
      </div>
    </div>

    <div class="input-wrapper d-flex flex-column px-3">
      <span class="my-2">Model</span>
      <input formControlName="model" type="text" />
    </div>

    <div formGroupName="cpu" class="cpu-form-specific-inputs">
      <div class="d-flex justify-content-between">
        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Cores</span>
          <input formControlName="cores" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Threads</span>
          <input formControlName="threads" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Base Clock</span>
          <input formControlName="baseClock" type="number" />
        </div>

        <div class="input-wrapper number d-flex flex-column px-3">
          <span class="my-2">Max Boost Clock</span>
          <input formControlName="maxBoostClock" type="number" />
        </div>

        <div class="input-wrapper d-flex flex-column px-3">
          <span class="my-2">Socket</span>
          <select formControlName="socketId">
            <option value="" disabled selected hidden>Please Choose...</option>
            <option value="1">AM5</option>
            <option value="2">AM4</option>
            <option value="3">LGA1700</option>
          </select>
        </div>
      </div>
    </div>

    <app-image [formGroup]="cpuForm!" #imageComponentRef></app-image>

    <div class="action-buttons">
      <button
        pButton
        pRipple
        label="Create Component"
        class="p-button-success mx-3"
        (click)="onCreateComponent()"
        [disabled]="checkFormValidity()"></button>
      <button
        pButton
        pRipple
        label="Reset Form"
        (click)="onResetForm()"
        class="p-button-danger"></button>
    </div>
  </form>
</div>
