:host::ng-deep {
  .p-tieredmenu,
  .p-tieredmenu .p-menu-separator {
    background: var(--primary-dark);
    border-color: var(--primary-light);
  }
  .p-tieredmenu .p-menuitem-link:hover,
  .p-tieredmenu .p-menuitem:hover {
    background: var(--primary-medium);
    border-color: var(--secondary-dark);
  }
  .p-tieredmenu .p-menuitem-link:not(.p-disabled):hover {
    box-shadow: inset 0 0 0 0.1rem var(--secondary-dark);
  }
  .p-tieredmenu .p-menuitem-link:focus {
    box-shadow: inset 0 0 0 0.15rem var(--secondary-dark);
  }
  .p-tieredmenu .p-menuitem-link .p-menuitem-icon,
  .p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon,
  .p-tieredmenu .p-menuitem-link:not(.p-disabled):focus .p-menuitem-text,
  .p-tieredmenu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: var(--secondary-dark);
  }
  .p-tieredmenu .p-menuitem-link .p-menuitem-text {
    color: var(--white);
  }
}
