:host::ng-deep {
    .container-fluid {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(2, 2, 2, 0.408);
        backdrop-filter: blur(1.5px); 
    }
    .loader {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid var(--secondary-dark);
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border-left: 4px solid var(--secondary-light);
        border-bottom: 4px solid transparent;
        animation: rotation 0.5s linear infinite reverse;
      }
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
}