<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12">
      <form
        class="d-flex flex-column align-items-center justify-content-center"
        [formGroup]="signUpForm"
        (ngSubmit)="onSignUp()">
        <h1 class="my-5">Sign Up</h1>
        <span class="p-input-icon-left my-3">
          <i class="pi pi-user" style="color: #ffea9c"></i>
          <input
            (keyup.enter)="focusableEmail.focus()"
            formControlName="name"
            pInputText
            type="text"
            placeholder="Enter your full name" />
          <form-validation
            [control]="signUpForm.get('name')!"
            [controlName]="'Name'"
            [minLength]="6"
            [maxLength]="40"></form-validation>
        </span>
        <span class="p-input-icon-left my-3">
          <i class="pi pi-envelope" style="color: #ffea9c"></i>
          <input
            #focusableEmail
            (keyup.enter)="focusableDescription.focus()"
            formControlName="email"
            pInputText
            type="email"
            placeholder="Enter your email" />
          <form-validation
            [control]="signUpForm.get('email')!"
            [controlName]="'Email'"
            [maxLength]="40"></form-validation>
        </span>
        <span class="p-input-icon-left my-3">
          <i class="pi pi-book" style="color: #ffea9c"></i>
          <input
            #focusableDescription
            (keyup.enter)="focusablePassword.focus()"
            formControlName="description"
            pInputText
            type="text"
            placeholder="Enter your description"/>
          <form-validation
            [control]="signUpForm.get('description')!"
            [controlName]="'Description'"
            [maxLength]="300"></form-validation>
        </span>
        <span class="p-input-icon-left my-3">
          <i class="pi pi-lock" style="color: #ffea9c"></i>
          <input
            #focusablePassword
            formControlName="password"
            pInputText
            type="password"
            placeholder="Enter your password" />
          <form-validation
            [control]="signUpForm.get('password')!"
            [controlName]="'Password'"
            [minLength]="6"
            [maxLength]="30"></form-validation>
        </span>
        <button
          [disabled]="!signUpForm.valid"
          pButton
          pRipple
          label="Sign Up"
          class="p-button-primary my-3 px-5 py-2"></button>
      </form>
    </div>
  </div>
</div>
